.page03-other {

   &__inner {
      display: flex;
      flex-direction: column;
      padding-bottom: 120px;
      padding-top: 0;

      @media (max-width: 1199.98px) {
         flex-direction: column;         
      }
   
   }
   
   &__info {
      min-width: 385px;

      @media (max-width: 1199.98px) {
         width: 100%;
         padding: 0 30px;
         text-align: center;
         margin-bottom: 70px;
      }

      @media (max-width: 575.98px) {
         padding: 0;
         min-width: 100%;
      }
   }
   
   &__title {
      font-size: 24px;
      padding-left: 0;
      margin-bottom: 90px;

      @media (max-width: 1199.98px) {
         text-align: center;
      }

      @media (max-width: 575.98px) {
        font-size: 20px;
      }
   }
   
   &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #282828;
   }
   
   &__cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 0 50px ;

      @media (max-width: 1199.98px) {
         padding: 0 30px;
         flex-wrap: wrap;
         justify-content: center;
      }
      
   }
   
   &__cards-inner{
      padding:25px; 
      margin: 0 25px;
      border-radius: 10px;
      position: relative;
      height: 100px;

      @media (max-width: 1199.98px) {
         margin: 40px;
      }
      @media (max-width: 575.98px) {
         min-width: fit-content;
      }
      

      &::before{
         content: '';
         position: absolute;
         display: block;
         top: -20px;
         left: -20px;
         width: 55px;
         height: 55px;
         background-color: #FFC700;
         border-radius: 50%;
         z-index: 1 ;
         
      }
   }

   &__subtitle{
      white-space: nowrap;
   }
   
 
   
}


// background-position: 20px 25px;