.about {
   position: relative;
   max-width: 1920px;
   margin: 0 auto;
   margin-bottom: 150px;


   &__body {
      width: 100%;
      max-width: 1920px;
   }

   &__bg{
      width: 75%;
      max-width: 100%;
      border-radius: 0 10px 10px 0;
      @media (max-width: 991.98px) {
         width: 100%;
         border-radius: 0;
      }
   }

   &__content{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      @media (max-width: 991.98px) {
        position: static;
        margin-top: -150px;
      }
      @media (max-width: 575.98px) {
        margin-top: -50px;
      }
   }

   &__container {
      width: 100%;
      max-width: 1440px;
      padding: 0 50px 0 0;
      margin: 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      @media (max-width: 991.98px) {
         padding: 0 50px;
      }
      @media (max-width: 767.98px) {
         padding: 0 20px;
      }
      @media (max-width: 424.98px) {
         padding: 0 10px;
      }
     
   }

   &__inner {
      width: 540px;
      max-width: 100%;
      margin-left: auto;
      background-color: #EDEDED;
      padding: 70px;
      border-radius: 10px;
      @media (max-width: 1199.98px) {
         padding: 40px;
      }
      @media (max-width: 991.98px) {
         width: 100%;
      }
      @media (max-width: 575.98px) {
         padding: 20px;
      }
     
   }

   &__title {
      margin-bottom: 40px;
      padding: 0;
      @media (max-width: 575.98px) {
         margin-bottom: 20px;
      }
   }

   &__text{
      margin-bottom: 20px;
   }
}
