@font-face {
	font-family: Lobster;
	font-display: swap;
	src: url("../fonts/Lobster-Regular.woff2") format("woff2"), url("../fonts/Lobster-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MarkoOne;
	font-display: swap;
	src: url("../fonts/MarkoOne-Regular.woff2") format("woff2"), url("../fonts/MarkoOne-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
