.footer {
   background-color: #EDEDED;

   &__container {
   }

   &__row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex: 0 1 100%;
      align-items: center;
      padding: 50px 0;
      flex-wrap: wrap;
   }

   &__item {
      @media (max-width: 767.98px) {
         flex: 0 1 100%;  
         margin-bottom: 30px; 
         display: flex;
         justify-content: center;    
      }
   }

   &__logo{
      max-width: 100%;
   }

   &__menu {
      display: flex;
      flex-direction: column;
      @media (max-width: 767.98px) {
         text-align: center;
         flex-direction: row;
      }

      @media (max-width: 424.98px) {
         flex-direction: column;
      }
   }
   &__menu-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #282828;
      margin-bottom: 10px;

      &:hover{
         color: #0499DD;
      }

      @media (max-width: 767.98px) {
         padding: 0 10px;
      }
   }
 
   &__contacts {
      display: flex;
      flex-direction: column;

      @media (max-width: 767.98px) {
         flex-wrap: wrap;
         flex-direction: row;
         width: 100%;
         justify-content: center;
      }
      
   }

   &__contacts-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #282828;
      margin-bottom: 10px;
      padding-left: 30px;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0 0;

      @media (max-width: 767.98px) {
         margin:10px;
      }
   }

   &__contacts-link--1{
      background-image: url(@img/footer/viber.png);
   }
   &__contacts-link--2{
      background-image: url(@img/footer/telegram.png);
   }
   &__contacts-link--3{
      background-image: url(@img/footer/telegram.png);
   }
   &__contacts-link--4{
      background-image: url(@img/footer/mail.png);
   }

   &__social {
     @media (max-width: 991.98px) {
      // display: flex;
      // flex-direction: column;        
     }
   }

   &__social-link {
      padding: 10px;
   }
}
