.form {
   background-image: url(@img/form-section/form-bg.jpg);
   background-repeat: no-repeat;  
   background-position: top;
   background-size: cover; 

   &__container {
      padding: 0;
      display: flex;
      justify-content: flex-end;

   }
   &__body {
      width: 50%;
      position: relative;
      padding: 120px 100px;

      @media (max-width: 1199.98px) {
         width: 60%;
      }

      @media (max-width: 991.98px) {
         width: 70%;
         padding: 100px 50px;
      }

      @media (max-width: 767.98px) {
         width: 100%;
         padding: 50px;
         margin: 250px 0 200px;         
      }

      @media (max-width: 575.98px) {
         margin: 150px 0 100px; 
         padding: 50px 30px;
      }

      &::after{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.5);
         // backdrop-filter: blur(20px);

         @media (max-width: 767.98px) {
            // backdrop-filter: blur(5px);
         }
      }
      
   }

   &__inner {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 2;
   }

   &__top {
   }

   &__title {
      color: #fff;
      margin-bottom: 15px;
      padding: 0;

      @media (max-width: 424.98px) {
         font-size: 22px;
      }
   }

   &__subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #FFC700;
      margin-bottom: 45px;
   }

   &__blank {
      display: flex;
      flex-direction: column;
   }

   &__input {
      display: block;
      margin-bottom: 45px;
      background-color: transparent;
      border-bottom: 1px solid #fff;
      color: #fff;
      padding: 3px 0;


      &::placeholder{
         color: #fff;
         font-weight: 500;
         font-size: 12px;
         line-height: 15px;
      }
   }

   &__input:focus::placeholder{
      color: #FFC700;
   }

   &__btn {
      width: fit-content;
      @media (max-width: 767.98px) {
         margin: 0 auto;
      }
   }
}
