.gallery {
   margin-bottom: 150px;

   &__body {
      max-width: 1920px;
      margin: 0 auto;
      padding: 15px;
      
      @media (max-width: 1199.98px) {
         padding: 10px;
      }

      @media (max-width: 767.98px) {
         padding: 0;
      }
   }

   &__inner {
      display: grid;
      gap: 15px;
      min-height: 600px;

      grid-template-columns: repeat( 6, 1fr);
      grid-template-rows: repeat(4, 1fr);

      @media (max-width: 1199.98px) {
         grid-template-columns: repeat( 4, 1fr);
         grid-template-rows: repeat(4, 1fr);
      }

      @media (max-width: 991.98px) {
         grid-template-columns: repeat( 4, 1fr);
         grid-template-rows: repeat(12, 1fr);
         gap: 10px;
      }

      @media (max-width: 767.98px) {
         grid-template-columns: repeat(auto, 1fr);
         grid-template-rows: repeat(3, 1fr);
         gap: 5px;
      }
   }

   &__item {
      max-width: 100%;
      position: relative;
      padding-bottom: 50%;
      overflow: hidden;

      img{
         max-width: 100%;
         position: absolute;
         top: 0;
         left: 0; 
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 5px;
         transition: transform .4s ease;

         &:hover{
            transform: scale(1.2);
            transition: transform .4s ease;
         }

         @media (max-width: 767.98px) {
            border-radius: 0;
         }
      }
   }

   &__item--1 {
      grid-column: span 2;
      grid-row-start: span 2;

      @media (max-width: 767.98px) {
         display: none;
      }
   }

   &__item--2 {
      grid-column: span 2;
      grid-row-start: span 4;

      @media (max-width: 1199.98px) {
       grid-column: 1/3;
       grid-row: 1/5;
      }

      @media (max-width: 767.98px) {
         grid-column: 1/3;
         grid-row: 1/3;
      }
   }

   &__item--3{
      grid-column: span 1;
      grid-row-start: span 2;

      @media (max-width: 991.98px) {
         grid-column: span 2;
         rid-row-start: span 2;
      }

      @media (max-width: 767.98px) {
         grid-column: span 2;
         grid-row: 1/2;
      }
   }


   &__item--4 {
      grid-column: span 1;
      grid-row-start: span 2;

      @media (max-width: 991.98px) {
         grid-column: span 2;
         grid-row: 5 / 7;
      }

      @media (max-width: 767.98px) {
         grid-column: span 2;
         grid-row: auto;
      }
   }

   &__item--5 {
      grid-column: span 1;
      grid-row-start: span 2;

      @media (max-width: 991.98px) {
         grid-column: span 2;
         grid-row: 5 / 9;
      }

      @media (max-width: 767.98px) {
         display: none;
      }
   }

   &__item--6{
      grid-column: span 1;
      grid-row-start: span 1;

      @media (max-width: 991.98px) {
         grid-column: span 2;
         grid-row: span 3;
      }

      @media (max-width: 767.98px) {
         display: none;
      }
   
   }

   &__item--7 {
      grid-column: span 1;
      grid-row-start: span 1;
      order: 7;

      @media (max-width: 991.98px) {
         grid-column: span 2;
         grid-row: 10 / 12;
      }

      @media (max-width: 767.98px) {
         display: none;
      }
   }

   &__item--8 {
      grid-column-start: span 2;
      grid-row-start: span 2;

      @media (max-width: 991.98px) {
         grid-column: span 2;
         grid-row-start: span 3;
      }

      @media (max-width: 767.98px) {
         grid-column-start: span 4;
         grid-row-start: span 1;
      }
   }
}


