/*-- Global-style ---------------------------------------*/
body._lock {
  overflow: hidden;
  margin: 0 auto;
  padding-right: 17px;
}

body {
  color: #000;
	font-family: Montserrat;
  font-size: 14px;  
  font-style: normal;
  overflow-x: hidden;
  margin: 0 auto;

  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main{
	flex: 1 1 auto;
}

section{
  overflow-x: hidden;
}

// ::-webkit-scrollbar {
//   width: 0;
// }

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.ibg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*-- /Global-style --------------------------------------*/


//-- валидация форм ----------------------------------------
.form__input:focus {
	border-bottom: 2px solid #FFC700;

}
.form__input._error {
	border-bottom: 2px solid red;

}
//-- валидация форм ----------------------------------------

.page02{
	background-color: red;
}