.header{
   height: 100vh;
   background-image: url(@img/header/header-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 500px;
   

   &__container-top {
      position: relative;
      max-width: 1920px;
      margin: 0 auto;
   }

   &__top {
      padding: 20px 40px 15px 15px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 99;
      opacity: 1;

      @media (max-width: 1440px) {
         padding: 10px 40px 15px 15px;
      }

      @media (max-width: 575.98px) {
         padding: 8px 0;
         position: fixed;
      }
   }

   &__container-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__container{
      position: relative;
      height: 100%;
   }

   &__logo {
      padding: 0 10px;
      padding-left: 20px;

      img{

         @media (max-width: 1440px) {
            width: 30px;
         }

         @media (max-width: 575.98px) {
            width: 25px;
         }
      }
      
   }

   &__top-wrapper {
   }

   &__body {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__inner {
      display: flex;
      flex-direction: column;
      justify-self: center;
      
   }
   
   &__title-box {
      max-width: fit-content;
      padding: 0 30px;
      @media (max-width: 575.98px){
         padding: 0;
         margin: 0 auto;
      }
   }

   &__title {
      font-weight: bold;
      font-size: 72px;
      line-height: 88px;
      margin-bottom: 80px;
      color: #fff;
      @media (max-width: 991.98px){
         font-size: 60px;
      }
      @media (max-width: 767.98px){
         font-size: 45px;
      }
      @media (max-width: 575.98px){
         font-size: 35px;
         margin-bottom: 50px;
      }
      @media (max-width: 424.98px){
         font-size: 25px;
      }
   }

   &__text-1 {
      font-family: Lobster;
      font-weight: 400;
      font-size: 64px;
      line-height: 100%;
      color: #FFC700;
      display: block;
      text-align: left;
      margin-left: 90px;
      margin-top: -30px;
      @media (max-width: 991.98px){
         font-size: 50px;
         margin-left: 75px;
      }
      @media (max-width: 767.98px){
         font-size: 35px;
         margin-left: 60px;
      }
      @media (max-width: 575.98px){
         font-size: 25px;
      }
      @media (max-width: 424.98px){
         font-size: 20px;
      }
   }

   &__text-2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 96px;
      line-height: 100%;
      display: block;
      letter-spacing: 5px;
      margin-top: -10px;
      @media (max-width: 991.98px){
         font-size: 70px;
      }
      @media (max-width: 767.98px){
         font-size: 50px;
         line-height: 120%;
      }
      @media (max-width: 575.98px){
         font-size: 40px;
         line-height: 140%;
      }
      @media (max-width: 424.98px){
         font-size: 30px;
         line-height: 160%;
      }

   }

   &__social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 15px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      @media (max-width: 575.98px){
         top: initial;
         bottom: 50px;
         flex-direction: row;
         right: 50%;
         transform: translateY(0);
         transform: translateX(50%);
      }
   }

   &__social-link{
      margin-bottom: 25px;
      transition: stroke .3s ease;

      &:hover{
         stroke: #FFC700;
         transition: stroke .3s ease;
         cursor: pointer;
      }

      @media (max-width: 575.98px){
        margin: 5px 15px 25px;
      }
   }

   &__link-btn {
      width: fit-content;
      margin-left: 30px;
      span{
         display: inline-block;
      }
      @media (max-width: 575.98px){
        margin: 0 auto;
      }
   }

   .arrow-line-right{
      fill: #fff;
      width: 20px;
      height: 10px;
   }
}


//-- menu -----------------------------------------------------------------
.menu {

   &__list{
      display: flex;
   }

   &__link {
      font-weight: 500;
      font-size: 16px;
      line-height: 17px;
      color: #FFFFFF;
      display: inline-flex;
      margin-left: 20px;
      transition: color .3s ease;

      @media (max-width: 575.98px){
         font-size: 14px;
      }
      @media (max-width: 424.98px){
         padding: 6px 0;
      }

      &:hover{
         color: #FFC700;
         transition: color .3s ease;
      }
   }
   
}
//-- /menu -----------------------------------------------------------------


//-- header-social --------------------------------------------------------
.facebook-stroke {
   fill: transparent;
   stroke: #fff;
   width: 32px;
   height: 32px;
   display: inline-flex;
}

.instagram-stroke {
   fill: transparent;
   stroke: #fff;
   width: 32px;
   height: 32px;
   display: inline-flex;
}

.vk-stroke {
   fill: transparent;
   stroke: #fff;
   width: 32px;
   height: 32px;
   display: inline-flex;

}
//-- /header-social --------------------------------------------------------



//-- header-slider ------------------------------------------------------------------------
.header__bottom{
   width: 100%;
   max-width: 1920px;
   height: auto;
   margin-left: auto;
   transform: translateY(-50%);
   @media (max-width: 575.98px){
      transform: translateY(-15%);
   }
}

.header__bottom-content {
   width: 60%;
   margin-left: auto;
   overflow: hidden;
   @media (max-width: 1199.98px){
      width: 70%;
   }
   @media (max-width: 991.98px){
      width: 55%;
   }
   @media (max-width: 767.98px){
      width: 60%;
   }
   @media (max-width: 575.98px){
      width: 97%;
   }
}

.header__slider {
   width: 100%;
   height: auto;
}

.header__slide{
   position: relative;
   overflow: hidden;
   padding-bottom: 25%;
   border-radius: 10px;

   @media (max-width: 991.98px){
      padding-bottom: 40%;
   }
   @media (max-width: 767.98px){
      padding-bottom: 45%;
   }
   @media (max-width: 575.98px){
      padding-bottom: 45%;
   }
   @media (max-width: 424.98px){
      padding-bottom: 50%;
   }
   

   video,
   iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

   }
}

.header__play-button{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid #FFC700;
   border-radius: 50%;
   z-index: 3;
   display: none;

}

.play-button {
   width: 80px;
   height: 76px;
   fill: #FFC700;
   transition: transform .3s ease;
   cursor: pointer;

   &:hover{
      transform: scale(1.3);
      transition: transform .3s ease;
   }
}

 .header__slider-wrapper .swiper-slide-active{
   position: relative;

   &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.3);
      z-index: 2;
   }
}

.swiper-slide-active .header__play-button{
   display: block;
}

.swiper-slide-active video{
   controls: none;
}
//-- /header-slider ------------------------------------------------------------------------



//-- burger ------------------------------------------------------------------------
.menu__icon{
   display: none;
   right: 30px;
   top: 8px;

   @media (max-width: 575.98px) {
      display: block;

   }
}

.menu__list {
   @media (max-width: 575.98px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 110vh;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      position: absolute;
      top: -15px;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #000;
      transform: translateX(100%);
      transition: transform .4s ease;

      &._active{
         transform: translateX(0);
         transition: transform .4s ease;
         font-size: 25px;
         min-height: 260px;
         overflow-y: auto;
      }
   }
}

.menu__link{
   @media (max-width: 575.98px) {
      font-size: 25px;
      margin-bottom: 40px;
   }
}

//-- /burger------------------------------------------------------------------------



//-- headhesive ----------------------------------------------------------
.headhesive {
   position: fixed;
   width: 100vw;
   transition: all 0.3s ease;
   opacity: 1;
}

.headhesive img{
   display: none;
}

.headhesive .menu__icon{
   display: none;

}

.headhesive .menu{
   display: none;

}


//--------------------------------------------
.headhesive--stick {
   background-color: rgba(#000, 0.8);
   width: 100%;
   transition: all 0.3s ease;
   color: #fff;
   padding: 45px 0;

   @media (max-width: 1440px) {
      padding: 30px 0;
   }
   @media (max-width: 575.98px) {
      padding: 27px 0;
   }
  
}

.headhesive--unstick{
   transition: all 0.3s ease;
}

// .headhesive--stick .menu__icon{
//    // top: 15px;
//    transition: all 0.3s ease;
// }

// .headhesive--stick img{
//    width: 30px;
// }
 

//-- /headhesive ----------------------------------------------------------

