.offers {
   padding-bottom: 150px;

   &__container {
   }

   &__title {
      margin-bottom: 90px;
      @media (max-width: 991.98px) {
        margin-bottom: 60px;
        margin-left: 30px;
      }

      @media (max-width: 575.98px) {
         margin-bottom: 60px;
         margin-left: 0;
         text-align: center;
      }
   }

   &__body {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
   }

   &__column {
      flex: 0 1 50%;
      width: 50%;

      @media (max-width: 991.98px) {
         flex: 0  100%;
         width: 100%;
      }
   }

   &__item {
      padding: 20px 15px;

      @media (max-width: 575.98px) {
         padding: 25px 0;
      }
   }

   &__item-inner {
      padding-left: 95px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 75px;

      @media (max-width: 575.98px) {
         padding-left: 0;
         padding-top: 80px;
         background-position: 50% 0;
      }
   }

   &__item-inner--1{
      background-image: url(@img/offers-section/item-1.png);
   }

   &__item-inner--2{
      background-image: url(@img/offers-section/item-2.png);
   }

   &__item-inner--3{
      background-image: url(@img/offers-section/item-3.png);
   }

   &__item-inner--4{
      background-image: url(@img/offers-section/item-4.png);
   }

   &__item-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #0499DD;
      margin-bottom: 10px;
      @media (max-width: 575.98px) {
         text-align: center;
       }
   }

   &__item-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      @media (max-width: 575.98px) {
        text-align: center;
      }
   }

   &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   &__bottom-text {
      margin-bottom: 50px;
      max-width: 550px;
      text-align: center;
      padding: 0 15px;
   }

   &__bottom-btn {
      span svg{
         fill: #fff;
         width: 20px;
         height: 10px;
         margin-left: 5px;
      }
   }
}
